@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p style="font-size: 20px; color: #333;">
        Learn about: <span style="color: blue;">GitHub Actions with Terraform.</span>
    </p>

    <img src="/images/homeroInternet.jpg" class="img-fluid" width="500" height="400">

</div>
