@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Stonecutters</h1>
    <p style="font-size: 20px; color: #333;">
        Learn about: <span style="color: blue;">GitHub Actions with Terraform</span>
    </p>

    <img src="/images/Stonecutters.png" class="img-fluid" width="200" height="500">

</div>
